.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
    background-color: #f8f3ef;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(80, 50, 30, 0.2);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* Espacio entre campos */
    width: 100%;
    max-width: 400px;
}

.fieldGroup {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}