.selector-header {
  display: flex; 
  justify-content: space-between; 
  align-items: center;       
  margin-bottom: 1rem;          
}

.selector-header h3 {
  margin: 0;
  color: #333;
  font-size: 1.5rem;
}

.selector-productos h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #222;
  font-size: 1.5rem;
}

.categoria-simple h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.selector-item {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.25rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.selector-item:hover {
  background-color: #f8f9fa; 
}

/* El checkbox */
.selector-item input[type="checkbox"] {
  margin-right: 0.75rem;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.selector-item label {
  display: flex;
  justify-content: space-between; /* Empuja el precio a la derecha */
  align-items: center;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  color: #444;
}

.selector-item label span {
  font-weight: 500;
  color: #666;
}

.modal-close-btn {
  background: none;       
  border: none;           
  font-size: 2rem;       
  line-height: 1;        
  color: #888;          
  cursor: pointer;
  padding: 0;
  transition: color 0.2s ease;
}

.modal-close-btn:hover {
  color: red; 
}