@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

/*====== HOME CSS =======*/

.home-container {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: flex-start;
}

.titulo-home {
    font-family: 'MuseoModerno', sans-serif;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 3rem;
}

.texto-home {
    padding: 10px;
    font-size: 1.2rem;
}